git-ls-files --others --exclude-from=.git/info/exclude
/build
/bin
/.development/
/.fbprefs
/target
.classpath
.project
.settings
.metadata
.mymetadata
.deployment
.externalToolBuilders
.checkstyle
.pmd
.pmdruleset
.README.md.*
.idea
*.iml
pom.xml.versionsBackup
maven-eclipse.xml
.DS_Store
.sass-cache
_site
.c9
